 .item {width: 400px;
     height: 200px;
     background-color: red;


 }
    .container {
        display: flex;
        height: 700px;
        justify-content: center;
        align-items: center;
    }
