
svg {
         margin: 40px;
     }


 #MyRinger {
           fill: red;
           stroke: orange;
           stroke-width: .1px;
       }




 #MyRinger:hover {
            fill: purple;
            stroke: lightblue;
            stroke-width: .1px;
        }


